header {
  padding: 10px;
  margin: 0px;
  text-align: center;
  background: #ffb775;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffb775;
}

nav > ul > li.left {
  float: left;
  list-style-type: none;
}

nav > ul > li.right {
  float: right;
  list-style-type: none;
}

nav > ul > li.zoek-icon > a {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li.zoek-icon:hover {
  background-image: url("images/wit-zoek-icon.png");
}

nav > ul > li > a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > ul > li > a:hover {
  background-color: black;
  color: white !important;
}

nav > ul > li > input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  nav {
    position: relative;
  }
  nav > ul > li.left,
  nav > ul > li.right {
    float: none;
  }
}

body {
  background-color: #ffffff !important;
  margin: 0px !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

main {
  margin-left: 10px !important;
  margin-right: 10px !important;
  position: relative;
  min-height: 50vh;
  /* padding-bottom: 6rem; */
}

footer {
  padding: 20px;
  margin: 0px;
  text-align: center;
  background: #ffb775;
  color: black;
  position: relative;
  bottom: 0;
  height: 7rem;
}

footer > ul > li {
  list-style-type: none;
  float: center;
  margin: 10px;
}

footer > ul > li > a {
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

footer > ul > li :hover {
  background-color: black;
  color: white;
}
