.search input[type="text"] {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.search input[type="submit"],
button {
  outline: 0;
  background: #ffb775;
  width: 300px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  grid-column: 1 / span 2;
}

.search input[type="submit"]:hover,
.search input[type="submit"]:active,
.search input[type="submit"]:focus,
button:hover,
button:active,
button:focus {
  background: black;
  color: white;
}

.productSec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 20px;
}

.product {
  padding: 10px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 1024px) {
  .productSec {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .productSec {
    grid-template-columns: repeat(1, 1fr);
  }
}

button {
  width: 100%;
}
